* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

li {
    font-size: 1.3em;
    cursor: pointer;


}

li:hover {
    color: rgb(232, 90, 29);

}

button {
    margin-top: 3vh;
    background-color: rgb(232, 90, 29);
    padding: 15px 60px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
}

button:hover {
    background-color: #000;
    padding: 15px 60px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

#brightText {
    font-size: 1.2em;
    text-align: left;
    max-width: 400px;
}


#aside {
    background-color: #000;
    color: #fff;
    width: 400px;
    height: 80vh;
    grid-area: asi;
    padding: 50px 50px 50px 35px;
}

#aside h3 {
    font-size: 3.5em;
    color: orange;
}

#aside h4 {
    font-size: 1.5em;
    padding: 25px 0 15px;
}

#aside h4:hover {
    font-size: 1.5em;
    padding: 25px 0 15px;
    color: orange;

}

#aside p {
    font-size: 1.2em;
    padding-bottom: 45px;
    color: gainsboro;
}


#retro,
#laptops,
#gaming {
    margin: 0 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 30px; */

}

#computer img {
    width: 80%;
    height: 80%;
}


#computer h3 {
    font-size: 3em;

    color: gainsboro;
    padding-bottom: 3vh;
}

#computer h5 {
    font-size: 1.2em;

    padding-bottom: 2vh;
}

#computer h5:hover {
    color: rgb(232, 90, 29);
    font-size: 1.2em;

    padding-bottom: 3vh;
}

#computer p {
    font-size: 1.5em;
}

.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    padding: 30px 0 10px 0;
}



@media screen and (min-width:376px) and (max-width:1439px) {

    #menuImg,
    #myDropdown>div>img {
        display: none;
    }

    /* #menu {
        display: inline-block;
    } */

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 250px 0 230px;
        font-size: 0.8em;
    }

    ul {
        display: flex;
    }

    /* //---------menu mobile */
    #myDropdown>ul {
        display: none;
    }

    li {
        cursor: pointer;

        display: block;
        padding: 5px 10px;
        margin-right: 5px;
    }

    header {
        /* background-image: url('/assets/images/image-web-3-desktop.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        height: 300px;
        margin-bottom: 50px;

    }

    #main {
        margin: 0 100px;

        display: grid;
        grid-template-areas:
            "head  asi"
            "brig  asi"
            "comp comp";
        grid-template-columns: 2fr 1fr;

        grid-gap: 40px;
    }

    #header {
        grid-area: head;
    }

    #brigth {
        margin: 87px 0px 50px 30px;
    }

    #aside {
        grid-area: asi;

        margin-bottom: 20px;
    }

    #computer {
        grid-area: comp;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    .comptext {
        height: 70%;
        width: 70%;

    }
}

@media screen and (min-width:1440px) {

    #menuImg,
    #myDropdown>div>img {
        display: none;
    }

    #myDropdown>ul {
        display: none;
    }

    #main {
        margin: 0 100px;

        display: grid;
        grid-template-areas:
            "head head asi"
            "brig brig asi"
            "comp  comp comp";
        grid-template-columns: 2fr 1fr;

        grid-gap: 40px;
    }

    #header-desktop {
        grid-area: head;
        width: 400px;
    }

    #aside {
        background-color: #000;
        color: #fff;
        width: 436px;
        height: 600px;
        grid-area: asi;
        padding: 50px 50px 50px 35px;
    }

    #aside h3 {
        font-size: 3.5em;
        color: orange;
    }

    #aside h4 {
        font-size: 1.5em;
        padding: 25px 0 15px;
    }

    #aside h4:hover {
        font-size: 1.5em;
        padding: 25px 0 15px;
        color: orange;

    }

    #aside p {
        font-size: 1.2em;
        padding-bottom: 45px;
        color: gainsboro;
    }

    #bright {
        margin: 20px 0;
        grid-area: brig;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #computer {
        grid-area: comp;
        margin: 70px 0 0 0;

    }

    .dropdown {
        display: none;
    }

    nav {
        margin: 0 600px 0 100px;

        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        padding: 50px 0 0 0;
    }

    #menu ul {
        display: block;

        display: flex;
    }

    li {
        display: block;
        padding: 5px 15px;
        margin-right: 20px;
        cursor: pointer;
    }

    header {
        background-image: url('/assets/images/image-web-3-desktop.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 334px;
    }

    #computer {
        margin: 70px 0 0 0;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
